# Default ignored files
/../../La casa del terror./.idea/shelf/
/../../La casa del terror./.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Windows\Desktop\GS DAM\Asignaturas\PROGRAMACION\JAVA\eclipse-workspace\La casa del terror.\.idea/dataSources/
/../../La casa del terror./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../La casa del terror./.idea/httpRequests/
